.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control input{
    padding: 10px;
    border: 2px solid #e0e0e0;
  }
  
  .form-control i{
    position: absolute;
    top: 30%;
    left: 55%;
    visibility: hidden;
  }
  
    
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    left: 3%;
  }
  
  .form-control.success input {
    border-bottom: 2px solid #2ecc71;
  }
  
  .form-control.error input {
    border-bottom: 2px solid #e74c3c;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }

  .form-control.error small {
    visibility: visible;
  }

  .form-control.success small{
    display: none;
  }